<h1>Mac Fyfe</h1>

<h2>My name is Henry McNaughton Fyfe IV but I go by Mac</h2>

<p>I'm a senior cs student at UofM. I don't know much about making websites, it seems pretty hard.</p>
<p>I'd rather be:</p>
<ul>
  <li>reading</li>
  <li>watching horror movies</li>
  <li>making dope beats</li>
</ul>

<%= image_tag 'henryMacFyfeIV.jpg', height: 300 %>

<p><%= link_to 'Software Review', software_review_path %></p>