<h1>Knime Review ★★★/★★★★</h1>
<%= image_tag 'knime.png', height: 300 %>

<h2>What is Knime?</h2>
<p>Knime is a free and open-source data analytics, reporting and integration platform.</p>
<ul>
  <li>Knime is FOSS and was created at a german uni for pharma companies</li>
  <li>First version was released in 2006</li>
  <li>Available on: Linux, OsX, Windows</li>
</ul>
<p>Basically, knime is a tool that tries to mimick the functionality of complicated SQL queries but in
a more user-friendly way so that people who don't know how to program can still prep,
manipulate, and analyse data sets. Similar to tableau or alteryx.</p>
<p>a sql command like:</p>
<textarea>SELECT * FROM costumers WHERE id NOT NULL</textarea>
<p>can be accomplished with a few drag and drop "nodes" in knime. Here is an example of the program</p>
<%= image_tag 'knimeExample.jpg', height: 400 %>
<p>The problem with Knime arrises when you need to do more complex operations. It can turn into a tangled web of nodes pretty quickly </p>
<br>
<br>
<br>
<br>
<p> Leave some feedback if you agree/disagree with my knime review</p>
<form>Comments</form>
<input placeholder="username">
<br>
<textarea placeholder="body here"></textarea>
<button>Submit</button>
<p>Share on social!</p>
<input list="socials">
<datalist id="socials">
  <option value="myspace">
  <option value="friendster">
  <option value="google+">
</datalist>
<input type="radio">



<p><%= link_to 'About the author', hmfyfe_path %></p>